@page "/chat"

<Weavy>
    <div style="height: 100vh;">
        <WeavyApp SpaceKey="blazor-space" type="messenger" key="@ChatKey" name="@ChatName"/>
    </div>
</Weavy>

@code {
    private string ChatKey { get; set; } = "blazor-chat";
    private string ChatName { get; set; }  = "Blazor Chat";
}